# Data Cleaning and Preperation
---
DAT 512 Canisuis College <br>
Professor Paul Lambson<br>
<br>
### Learning Objectives
- Review pandas method for cleaning data and prepare data for analysis
- Gain familiar with additional data types and specific methods
- Become comfortable modifying data frames
<br>


### Sections
- [Handling Missing Data](#handling_missing_data)
- [Filtering Out Missing Data](#filtering_out_missing_data)
- [Filling In Missing Data](#filling_in_missing_data)
- [Removing Duplicates](#removing_duplicates)
- [Transforming Data Using Function or Mapping](#transforming_data_using_fuction_or_mapping)
- [Replacing Values](#replacing_values)
- [Renaming Axis Indexes](#renaming_axis_indexes)
- [Detecting and Filtering Outliers](#detecting_and_filtering_outliers)
- [Permutation and Random Sampling](#permutation_and_random_sampling)
- [Computing Indicator/Dummy Variables](#computing_indicator/dummy_variables)
- [Extension Data Types](#extension_data_types)
- [String Manipulation](#string_manipulation)
- [Sring Functions in Pandas](#string_functions_in_pandas)
- [Categorical Data](#categorical_data)
- [Computations with Categoricals](#computations_with_categoricals)
- [Categorical Methods](#categorical_methods)

In [2]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc("figure", figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

<a id='handling_missing_data'></a>
# Handling Missing Data

In [ ]:
# pandas uses the floating-point value NaN (Not a Number) to represent missing data
float_data = pd.Series([1.2, -3.5, np.nan, 0])
float_data

In [ ]:
# The isna method gives us a Boolean Series with True where values are null
float_data.isna()

In [ ]:
# pandas None is treated as NaN
string_data = pd.Series(["aardvark", np.nan, None, "avocado"])
string_data

In [ ]:
string_data.isna()

In [ ]:
float_data = pd.Series([1, 2, None], dtype='float64')
float_data

In [ ]:
float_data.isna()

<a id='filtering_out_missing_data'></a>
# Filtering Out Missing Data

In [ ]:
# dropna can be helpful. On a Series, it returns the Series with only the nonnull data and index values
data = pd.Series([1, np.nan, 3.5, np.nan, 7])
data.dropna() # note: inplace is an option

In [ ]:
# same as dropna()
data[data.notna()]

In [ ]:
# dropna by default drops any row containing a missing value
data = pd.DataFrame([[1., 6.5, 3.], [1., np.nan, np.nan],
                     [np.nan, np.nan, np.nan], [np.nan, 6.5, 3.]])
data

In [ ]:
data.dropna()

In [ ]:
# Passing how="all" will drop only rows that are all NA
data.dropna(how="all")

In [ ]:
# To drop columns in the same way, pass axis="columns"
data[4] = np.nan
data

In [ ]:
data.dropna(axis="columns", how="all")

In [ ]:
# suppose you want to keep only rows containing at most a certain number of missing observations
df = pd.DataFrame(np.random.standard_normal((7, 3)))
df.iloc[:4, 1] = np.nan
df.iloc[:2, 2] = np.nan
df

In [ ]:
df.dropna()

In [ ]:
df.dropna(thresh=2)

<a id='filling_in_missing_data'></a>
# Fillling In Missing Data

In [ ]:
# Calling fillna with a constant replaces missing values with that value
df.fillna(0)

In [ ]:
# Calling fillna with a dictionary, you can use a different fill value for each column
df.fillna({1: 0.5, 2: 0})

In [ ]:
# ffil and threshold work well with fillna
df = pd.DataFrame(np.random.standard_normal((6, 3)))
df.iloc[2:, 1] = np.nan
df.iloc[4:, 2] = np.nan
df

In [ ]:
df.fillna(method="ffill")

In [ ]:
df.fillna(method="ffill", limit=2)

In [ ]:
# simple data imputation with mean
data = pd.Series([1., np.nan, 3.5, np.nan, 7])
data.fillna(data.mean())

# Data Transformation

<a id='removing_duplicates'></a>
# Removing Duplicates

In [ ]:
#! ipython id=944377d16cdc466cb0a9e64fa1f79d5b
data = pd.DataFrame({"k1": ["one", "two"] * 3 + ["two"],
                     "k2": [1, 1, 2, 3, 3, 4, 4]})
data

In [ ]:
# its column values are exactly equal to those in an earlier row
data.duplicated()

In [ ]:
# drops based on the dulicated() boolean array
data.drop_duplicates()

In [ ]:
# duplicated can be filtered down to one column
data["v1"] = range(7)
data

In [ ]:
data.drop_duplicates(subset=["k1"])

In [ ]:
# keyword argument can modify what is dropped
data.drop_duplicates(["k1", "k2"], keep="last")

<a id='transforming_data_using_fuction_or_mapping'></a>
# Transforming Data Using Function or Mapping

In [ ]:
# build a data frame to modify
data = pd.DataFrame({"food": ["bacon", "pulled pork", "bacon",
                              "pastrami", "corned beef", "bacon",
                              "pastrami", "honey ham", "nova lox"],
                     "ounces": [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

In [ ]:
# dictionary to be used as a mapper
meat_to_animal = {
  "bacon": "pig",
  "pulled pork": "pig",
  "pastrami": "cow",
  "corned beef": "cow",
  "honey ham": "pig",
  "nova lox": "salmon"
}

In [ ]:
# pass the dictionary to map
data["animal"] = data["food"].map(meat_to_animal)
data

In [ ]:
# a function can also be passed
def get_animal(x):
    return meat_to_animal[x]
data["food"].map(get_animal)

<a id='replacing_values'></a>
# Replacing Values

In [ ]:
# build a series to modify
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

In [ ]:
# look up a value to replace
data.replace(-999, np.nan)

In [ ]:
# look up a list to replace
data.replace([-999, -1000], np.nan)

In [ ]:
# two lists can be passed with multiple lists
data.replace([-999, -1000], [np.nan, 0])

In [ ]:
# can be more specific with a dictionary
data.replace({-999: np.nan, -1000: 0})

<a id='renaming_axis_indexes'></a>
# Renaming Axis Indexes

In [ ]:
# create a data frame for modification
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index=["Ohio", "Colorado", "New York"],
                    columns=["one", "two", "three", "four"])

In [ ]:
# map an index with a function
def transform(x):
    return x[:4].upper()

data.index.map(transform)

In [ ]:
# use the function to overwrite the index,
data.index = data.index.map(transform)
data

In [ ]:
# also, pass stf functions to overwrite indexes
data.rename(index=str.title, columns=str.upper)

In [ ]:
# rename can be used as a mapper to rename
data.rename(index={"OHIO": "INDIANA"},
            columns={"three": "peekaboo"})

In [ ]:
# Discretization and Binning
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

In [ ]:
# Let’s divide these into bins of 18 to 25, 26 to 35, 36 to 60, and finally 61 and older
bins = [18, 25, 35, 60, 100]
age_categories = pd.cut(ages, bins)
age_categories

In [ ]:
# evaluate the attributes of categorical series
age_categories.codes

In [ ]:
age_categories.categories

In [ ]:
age_categories.categories[0]

In [ ]:
pd.value_counts(age_categories)

In [ ]:
# inclusive boundaries can be modified
pd.cut(ages, bins, right=False)

In [ ]:
# categories can be given qualifying names
group_names = ["Youth", "YoungAdult", "MiddleAged", "Senior"]
pd.cut(ages, bins, labels=group_names)

In [ ]:
# pandas can create bins
data = np.random.uniform(size=20)
pd.cut(data, 4, precision=2)

In [ ]:
# making quartiles
data = np.random.standard_normal(1000)
quartiles = pd.qcut(data, 4, precision=2)
quartiles

In [ ]:
# notice the even population
pd.value_counts(quartiles)

In [ ]:
# a list of quantiles is accepted values 0 to 1
pd.qcut(data, [0, 0.1, 0.5, 0.9, 1.]).value_counts()

<a id='detecting_and_filtering_outliers'></a>
# Detecting and Filtering Outliers

In [ ]:
# make dataframe for outlier detection
data = pd.DataFrame(np.random.standard_normal((1000, 4)))
data.describe()

In [ ]:
# find values in one of the columns exceeding 3 in absolute value
col = data[2]
col[col.abs() > 3]

In [ ]:
# use any method to evaluate all columns 
data[(data.abs() > 3).any(axis="columns")]

In [ ]:
# set values with boolean mask
data[data.abs() > 3] = np.sign(data) * 3
data.describe()

In [ ]:
# np.sign produces a -1 or 1 depending on the polarity of the inputs
np.sign(data).head()

<a id='permutation_and_random_sampling'></a>
# Permutation and Random Sampling

In [ ]:
#! ipython id=70d08ca5f48d48018126fd9ab1006314
df = pd.DataFrame(np.arange(5 * 7).reshape((5, 7)))
df

In [ ]:
sampler = np.random.permutation(5)
sampler

In [ ]:
# two ways to take sample from permutation
df.take(sampler)

In [ ]:
df.iloc[sampler]

In [ ]:
# can work with columns
column_sampler = np.random.permutation(7)
column_sampler
df.take(column_sampler, axis="columns")

In [ ]:
# can directlly sample from df (same row won't appear twice)
df.sample(n=3)

In [ ]:
# can allow replacement (same row to be sampled twice)
choices = pd.Series([5, 7, -1, 6, 4])
choices.sample(n=10, replace=True)

<a id='computing_indicator/dummy_variables'></a>
# Computing Indicator/Dummy Variables

In [ ]:
# pandas get dummies allowes for quick one-hot encoding
df = pd.DataFrame({"key": ["b", "b", "a", "c", "a", "b"],
                   "data1": range(6)})
df

In [ ]:
pd.get_dummies(df["key"])

In [ ]:
# no need to lose fidelity, take the column name along
dummies = pd.get_dummies(df["key"], prefix="key")
df_with_dummy = df[["data1"]].join(dummies)

In [ ]:
df_with_dummy

In [ ]:
# the genres column needs to be unpacked
mnames = ["movie_id", "title", "genres"]
movies = pd.read_table("datasets/movielens/movies.dat", sep="::",
                       header=None, names=mnames, engine="python")
movies[:10]

In [ ]:
# luckily there is a get_dummies function here
dummies = movies["genres"].str.get_dummies("|")
dummies.iloc[:10, :6]

In [ ]:
# using join to make a larger dataframe, while not technically sparse, sparse-like
movies_windic = movies.join(dummies.add_prefix("Genre_"))
movies_windic.iloc[0]

In [ ]:
# a quick example of quartiles to dummies
np.random.seed(12345) # to make the example repeatable
values = np.random.uniform(size=10)
values
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]
pd.get_dummies(pd.cut(values, bins))

<a id='extension_data_types'></a>
# Extension Data Types

In [ ]:
# evaluate a data type
s = pd.Series([1, 2, 3, None])
s

In [ ]:
s.dtype

In [ ]:
# coherce a datatype
s = pd.Series([1, 2, 3, None], dtype=pd.Int64Dtype())
s

In [ ]:
s.isna()

In [ ]:
s.dtype

In [ ]:
# value checks exist
s[3]

In [ ]:
s[3] is pd.NA

In [ ]:
# more type cohersion
s = pd.Series([1, 2, 3, None], dtype="Int64")

In [ ]:
# string example
s = pd.Series(['one', 'two', None, 'three'], dtype=pd.StringDtype())

In [ ]:
s

In [ ]:
#! ipython id=81a4d68317534367bdbd458b98a55329
df = pd.DataFrame({"A": [1, 2, None, 4],
                   "B": ["one", "two", "three", None],
                   "C": [False, None, False, True]})
df

In [ ]:
df["A"] = df["A"].astype("Int64")
df["B"] = df["B"].astype("string")
df["C"] = df["C"].astype("boolean")
df

<a id='string_manipulation'></a>
# String Manipulation

In [ ]:
# val as a single string
val = "a,b,  guido"

In [ ]:
# return a list of strings split on split character
val.split(",")

In [ ]:
# add strip to remove whitespace
pieces = [x.strip() for x in val.split(",")]
pieces

In [ ]:
# string concatenation
first, second, third = pieces

In [ ]:
first + "::" + second + "::" + third

In [ ]:
#love to see a join, allows for customization and scalable
"::".join(pieces)

In [ ]:
# great search for exists
"guido" in val

In [ ]:
# returns place
val.index(",")

In [ ]:
val.find(":")

In [ ]:
# find will not error, index will
val.index(":")

In [ ]:
#! number of occurences in a string
val.count(",")

In [ ]:
# replace examples
val.replace(",", "::")

In [ ]:
val.replace(",", "")

In [ ]:
# regular expression example
import re
text = "foo    bar\t baz  \tqux"
re.split(r"\s+", text)

In [ ]:
# split along pattern
regex = re.compile(r"\s+")
regex.split(text)

In [ ]:
# find all patterns that match
regex.findall(text)

In [ ]:
#! ipython verbatim id=8f2d09408b41491aa269044fc4375d93
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com"""
pattern = r"[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}"

# re.IGNORECASE makes the regex case insensitive
regex = re.compile(pattern, flags=re.IGNORECASE)

In [ ]:
# find all matches
regex.findall(text)

In [ ]:
# finds first match
m = regex.search(text)
m
text[m.start():m.end()]

In [ ]:
# march will only return if pattern exists at the start of the string
print(regex.match(text))

In [ ]:
# swap text
print(regex.sub("REDACTED", text))

In [ ]:
# a pattern that splits username, domain and domain suffix
pattern = r"([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})"
regex = re.compile(pattern, flags=re.IGNORECASE)

In [ ]:
# match returns a tuples of lists
m = regex.match("wesm@bright.net")
m.groups()

In [ ]:
# a list of tuples with all parterns
regex.findall(text)

In [ ]:
# now with some formatting, subbing elements for labels
print(regex.sub(r"Username: \1, Domain: \2, Suffix: \3", text))

<a id='string_functions_in_pandas'></a>
# String Functions in Pandas

In [ ]:
# make series
data = {"Dave": "dave@google.com", "Steve": "steve@gmail.com",
        "Rob": "rob@gmail.com", "Wes": np.nan}
data = pd.Series(data)
data

In [ ]:
data.isna()

In [ ]:
# series.str opens up string options. (show autocomplete)
data.str.contains("gmail")

In [ ]:
# from object datatype to string forced conversion
data_as_string_ext = data.astype('string')
data_as_string_ext

In [ ]:
# map functions will fail on NA values, use .str methods
data_as_string_ext.str.contains("gmail")

In [ ]:
# regex using .str
pattern = r"([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})"
data.str.findall(pattern, flags=re.IGNORECASE)

In [ ]:
# love to see it
matches = data.str.findall(pattern, flags=re.IGNORECASE).str[0]
matches
matches.str.get(1)

In [ ]:
# substring accross a series with index notation
data.str[:5]

In [ ]:
# extract groups into columns with the pattern
data.str.extract(pattern, flags=re.IGNORECASE)

<a id='categorical_data'></a>
# Categorical Data

In [ ]:
# evaluate uniqueness and frueuence
values = pd.Series(['apple', 'orange', 'apple',
                    'apple'] * 2)
values

In [ ]:
pd.unique(values)

In [ ]:
pd.value_counts(values)

In [ ]:
# apply lables from one series to another
values = pd.Series([0, 1, 0, 0] * 2)
dim = pd.Series(['apple', 'orange'])
values

In [ ]:
dim

In [ ]:
# taken returns an element along an axis
dim.take(values)

In [ ]:
# create data frame for categorization
fruits = ['apple', 'orange', 'apple', 'apple'] * 2
N = len(fruits)
rng = np.random.default_rng(seed=12345)
df = pd.DataFrame({'fruit': fruits,
                   'basket_id': np.arange(N),
                   'count': rng.integers(3, 15, size=N),
                   'weight': rng.uniform(0, 4, size=N)},
                  columns=['basket_id', 'fruit', 'count', 'weight'])
df

In [ ]:
# create a categorical data type
fruit_cat = df['fruit'].astype('category')
fruit_cat.

In [ ]:
# categorical types have additional methods
c = fruit_cat.array
type(c)

In [ ]:
# like categories
c.categories

In [ ]:
# and encoding
c.codes

In [ ]:
# which also have a dictionary
dict(enumerate(c.categories))

In [ ]:
# overwrite fruit on the data frame
df['fruit'] = df['fruit'].astype('category')
df["fruit"]

In [ ]:
# category can be created on its own
my_categories = pd.Categorical(['foo', 'bar', 'baz', 'foo', 'bar'])
my_categories

In [ ]:
# or from component pieces
categories = ['foo', 'bar', 'baz']
codes = [0, 1, 2, 0, 0, 1]
my_cats_2 = pd.Categorical.from_codes(codes, categories)
my_cats_2

In [ ]:
# even ordered
ordered_cat = pd.Categorical.from_codes(codes, categories,
                                        ordered=True)
ordered_cat

In [ ]:
# with boolean
my_cats_2.as_ordered()

<a id='computations_with_categoricals'></a>
# Computations with Categoricals

In [ ]:
# create an array
rng = np.random.default_rng(seed=12345)
draws = rng.standard_normal(1000)
draws[:5]

In [ ]:
# qcut returns categories
bins = pd.qcut(draws, 4)
bins

In [ ]:
# passing labeles might be better than boundary values
bins = pd.qcut(draws, 4, labels=['Q1', 'Q2', 'Q3', 'Q4'])
bins
bins.codes[:10]

In [ ]:
# calculate stats with quartiles
bins = pd.Series(bins, name='quartile')
results = (pd.Series(draws)
           .groupby(bins)
           .agg(['count', 'min', 'max'])
           .reset_index())
results

In [ ]:
# quartile reatins ordering
results['quartile']

In [ ]:
# evaluate 
N = 10_000_000
labels = pd.Series(['foo', 'bar', 'baz', 'qux'] * (N // 4))

In [ ]:
# convert labels to category
categories = labels.astype('category')

In [ ]:
# labels uses significantly more memory than categories
labels.memory_usage(deep=True)

In [ ]:
categories.memory_usage(deep=True)

In [ ]:
# conversion to lables comes at a cost
%time _ = labels.astype('category')

In [ ]:
# but chef's kiss to being so much faster
%timeit labels.value_counts()

In [ ]:
%timeit categories.value_counts()

<a id='categorical_methods'></a>
# Categorical Methods

In [ ]:
# make series to explore methods
s = pd.Series(['a', 'b', 'c', 'd'] * 2)
cat_s = s.astype('category')
cat_s

In [ ]:
# codes exists for length of the array
cat_s.cat.codes

In [ ]:
# categories can be set in the order of the initial list
actual_categories = ['a', 'b', 'c', 'd', 'e']
cat_s2 = cat_s.cat.set_categories(actual_categories)
cat_s2

In [ ]:
# 
cat_s.value_counts()

In [ ]:
cat_s2.value_counts()

In [ ]:
# category values show unused values
cat_s3 = cat_s[cat_s.isin(['a', 'b'])]
cat_s3

In [ ]:
# which can be removed
cat_s3.cat.remove_unused_categories()

# In Class Problems

In [ ]:
'''
    #1
    Create a dataframe of the file called 'movies' from the examples folder
    How many rows and columns?
    Look at the first 5 rows and last 5 rows?
'''
'''
    #2
    Replace the index of the table with the column 'movie_id'
'''
'''
    #3
    Create a new column called 'year' that is the year extracted from 'title'
    Create a new column that is the decile of year
'''
'''
    #4
    What is the year with the most movies?
    What is the earliest year?
    What is the latest year?
'''
'''
    #5
    What is the most frequent genre?
    What is the least frequent genre?
    What is the highest correlated pair of genres?
    What is the least correlated pair of genres?
'''
'''
    #6
    Create a data frame with dummied genres and year decile
    Perform a k-means clustering, where k = 7
    Look at the centers of each cluster
    Apply cluster labels back to the original dataframe
    Could you give a descriptive name to any cluster?
'''